.form-content{
   
    /* height: 75vh; */
}
.form-content-info{
    width: 80%;
    border: 1px solid rgb(175, 170, 170);
    padding: 20px;
    font-size: 1.3rem;
    margin-left: 5.5rem;
    position: relative;

}
.form-content-info::after{
content: "";
position: absolute;
 
background-color:rgb(33,37,41) ;

width: 25px;
height: 25px;
bottom: -12px;
left: 30px;
transform: rotate(45deg);
border-width: 1px;
border-style: solid;
border-color:transparent rgb(175, 170, 170) rgb(175, 170, 170) transparent ;

}
.form-content svg{
    margin-left: 5px;
}
.form-content-photo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.form-content-image{
    background-image: url('../../../assets/newsletter-bg.097ce13b.png');
    height: 100%;
}
.form-content-gradiant{
    background-image: linear-gradient(152.97deg, rgba(32,42,55,.4),rgba(12,25,43,.2));
    backdrop-filter: blur(50px);
    border:1px solid rgba(144,185,86,.33);
}
.form-content-image [type="text"]{
    width: 100%;
    background-color: transparent!important;
    outline: none;
    border-color: hsla(0,0%,87%,.431)!important;
    height: 2.5rem!important;
    color: white!important;
    caret-color: transparent;
    padding: 15px;
}
.form-content-image [type="text"]::placeholder{
    color: white;
    text-align: center;
}
.form-content-image .btn{
background-color: rgba(144,185,86);
height: 3.5rem!important;
color: white;
}